{% extends 'base.html.twig' %}

{% block title %}Metero{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/jquery.js') }}"></script>
    <script src="{{ asset('assets/jqueryScrollTo.js') }}.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/login.css') }}" />
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="flexLeft">
            <img class="phone" src="{{ asset('assets/phone.jpg') }}" alt="" />
            <span>Metero доступен на любом устройстве</span>
            <p>
                Вы можете установить приложение на свое устройствои и даже
                пк, чтобы всегда получить быстрый доступ
            </p>
        </div>
        <div class="flexRight">
            <div class="logo">
                <a href="/"
                ><span class="blue">m</span><span class="e">e</span
                    ><span class="t">t</span><span class="e2">e</span
                    ><span class="r">r</span><span class="o">o</span></a
                >
            </div>
            <form method="post" class="login block">
                <input
                        class="inputField"
                        type="text"
                        placeholder="Имя пользователя или эл. адрес"
                        name="username"
                        value="{{ last_username }}"
                />
                <input
                        class="inputField"
                        type="password"
                        placeholder="Пароль"
                        name="password"
                />
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="button" type="submit">Войти</button>
            </form>
            {% if error %}
                <div class="block error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
    <footer>
        <span>©2021 Артем Головко и Даниэль Гершенбейн</span>
        <a>Политика конфиденциальности</a>
        <a>Правила</a>
    </footer>
{% endblock %}
